/*
Colors:
#4abbbf (teal)
#ecf2f0 (white)
#aeaeae (gray)
#203a4b (navy)
#86bc8b (green)
#f2e07c (yellow)
#f48d6c (orange)
#f16663 (red)
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

* {
  box-sizing: border-box;
  font-family: Roboto, Helvetica, "Trebuchet MS", Arial, sans-serif;
}

header {
    background-color: #4abbbf;
    text-align: center;
    color: #ecf2f0;
    padding: 20px 10px;
}

header h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2rem;
}

header h2 {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.444rem;
}

.section-heading {
    text-transform: uppercase;
    color: #ecf2f0;
    font-weight: 400;
    font-size: 2rem;
}

#checking .section-heading {
    background-color: #203a4b;
}

.money-input {
    display: block;
}

.money-input::before {
    content: "$ ";
}

.money-input input {
    display: inline-block;
    width: 90%;
}

.table thead th {
    font-size: 0.75rem;
    text-transform: uppercase;
    vertical-align: middle;
}

table .money-input input {
    width: 70%;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ced4da;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05),
                inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: .75rem;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: #fff;
}

input[type="checkbox"]:checked::after {
    content: "\2714";
    font-size: 1rem;
    position: absolute;
    top: 0px;
    left: 5px;
    color: #495057;
}

input[type="checkbox"]:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.table .form-control {
    font-size: .75rem;
}

.table .table-desc {
    text-align: center;
}

.table tbody td[contenteditable]:focus {
    outline: 0;
    border-color: #80bdff;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25);
}

.table tfoot #table-total {
    text-align: right;
    color: #86bc8b;
    font-weight: 700;
    font-size: 1.5rem;
}

.table tfoot .money-input {
    font-size: 1.25rem;
}

#savings .section-heading {
    background-color: #f2e07c;
}

#savings-goals .section-heading {
    background-color: #f48d6c;
}

#summary {
    background-color: #f16663;
    color: #ecf2f0;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
}

footer {
    background-color: #2a7375;
    text-align: center;
    color: #ecf2f0;
    padding: 20px 10px;
}